<h1>
  <%= t ".hello" %>
  - Products (<%= @products.size %>)
</h1>

<%= link_to "New Product", new_product_path if authenticated? %>

<ul id='products'>
  <% @products.each do |product| %>
    <li>
      <%= link_to product.name, product_path(product) %>
    </li>
  <% end %>
</ul>
